<!doctype html>

<html ng-app="sessionsApp">

<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<title>Connect 2015</title>

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/united/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
</head>

<body ng-controller="MainCtrl">

<!--header-->
<header class="navbar navbar-default navbar-fixed-top">

	<div class="container">
	
		<div class="navbar-header">

		 <!-- menu button to show/ hide the off canvas slider -->
      <button type="button" class="btn btn-primary pull-left navbar-toggle" ng-click="toggleOffCanvas()">
        <i class="fa fa-lg fa-bars no-text"></i>
      </button>  
       
        <a class="navbar-brand no-break-out" title="Customers" href="/">{{pageTitle}}</a>  
      </div>
      <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
        <i class="fa fa-lg fa-chevron-left"></i><span>Back</span>
      </button>
      

		<div class="navbar navbar-collapse hidden-xs">

			<ul class="nav navbar-nav">
				<li><a ui-sref="sessionsAll">All sessions</a></li>
				<li><a ui-sref="sessionsByDay({dayId: 'sun'})">Sunday</a>
				<li><a ui-sref="sessionsByDay({dayId: 'mon'})">Monday</a>
				<li><a ui-sref="sessionsByDay({dayId: 'tue'})">Tuesday</a>
				<li><a ui-sref="sessionsByDay({dayId: 'wed'})">Wednesday</a>
				<li><a>Favorites</a></li>
			</ul>

		</div>

	</div>
</header>

<!--offcanvas-->
<nav class="offcanvas navmenu offcanvas-left" id="offcanvas">
	<ul class="nav">

		<li ng-class="{'active' : activeMenu == 'about'}"><a ui-sref="about" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-question"></i>About</a></li>

		<li ng-class="{'active' : activeMenu == 'sessionsAll'}"><a ui-sref="sessionsAll" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-list"></i>All sessions</a></li>
		
		<li ng-class="{'active' : activeMenu == 'favorites'}"><a ui-sref="favorites" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-star-o"></i>Favorites</a></li>

		<li ng-class="{'active' : activeMenu == 'map'}"><a ui-sref="map" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-map-marker"></i>Map</a></li>

		<li><a href="" style="font-weight:bold"><i class="fa fa-fw fa-calendar"></i>Sessions by day</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsByDaysun'}"><a ui-sref="sessionsByDay({dayId: 'sun'})" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-angle-right"></i>Sunday</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsByDaymon'}"><a ui-sref="sessionsByDay({dayId: 'mon'})" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-angle-right"></i>Monday</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsByDaytue'}"><a ui-sref="sessionsByDay({dayId: 'tue'})" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-angle-right"></i>Tuesday</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsByDaywed'}"><a ui-sref="sessionsByDay({dayId: 'wed'})" ng-click="hideOffCanvas()"><i class="fa fa-fw fa-angle-right"></i>Wednesday</a></li>

		<li><a href="" style="font-weight:bold"><i class="fa fa-fw fa-tag"></i>Sessions by track</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsAD'}"><a><i class="fa fa-fw fa-angle-right"></i>App dev</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsBTE'}"><a ><i class="fa fa-fw fa-angle-right"></i>Beyond the Everyday</a></li>
		<li ng-class="{'active' : activeMenu == 'sessionsX'}"><a ><i class="fa fa-fw fa-angle-right"></i>...</a></li>

	</ul>
</nav>

<div class="container" id="container" ng-click="hideOffCanvas()">

	<div ui-view></div>

</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>

<script type="text/javascript" src="polyfills.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="utils.js"></script>
<script type="text/javascript" src="services.js"></script>
<script type="text/javascript" src="sessions.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-animate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-resource.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-cookie/angular-cookie.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

</body>

</html>