/*
  background-color: http://www.google.com/design/spec/style/color.html#color-color-palette;
  colors: see */

.list-group-item {
  margin-left: 0;
  padding-left: 15px;
}

.list-group-item .fa-refresh {
  opacity: 1;
  margin-right: 0;
}

.navbar-default {
  background-color: #FFC107;
}

h3 {
  font-size: 16px;
}
small {
  font-size: 80%;
}
.panel-heading h3 {
  margin-top:10px;
  margin-bottom:5px;
  line-height: 1.2;
}
.navbar .btn {
  color: #000000;
}

.bootcards-card.col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
}

/*track colors */
.greenBorder {
  border-left:10px solid #259b24;
}
.panel-green {
  border-color: #259b24;
}
.panel-green>.panel-heading {
  color: #fff;
  background-color: #259b24;
  border-color: #259b24;
}

.blueBorder {
  border-left:10px solid #536dfe;
}
.panel-blue {
  border-color: #536dfe ;
}
.panel-blue>.panel-heading {
  color: #fff  !important;
  background-color: #536dfe ;
  border-color: #536dfe;
}
.redBorder {
  border-left:10px solid #e51c23;
}
.panel-red {
  border-color: #e51c23;
}
.panel-red>.panel-heading {
  color: #fff;
  background-color: #e51c23;
  border-color: #e51c23;
}

.orangeBorder {
  border-left:10px solid #FF9800;
}
.panel-orange {
  border-color: #FF9800;
}
.panel-orange>.panel-heading {
  color: #fff;
  background-color: #FF9800;
  border-color: #FF9800;
}

/*blue gray #607d8b */
.grayBorder {
  border-left:10px solid #607d8b;
}
.panel-gray {
  border-color: #607d8b;
}
.panel-gray>.panel-heading {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
}

/*view animation*/

[ui-view].ng-enter, [ui-view].ng-leave {
   -webkit-transition: 275ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 275ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 275ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 275ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 275ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
}

[ui-view].ng-enter {
  position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(100%,0,0) ;
}

[ui-view].ng-enter-active {
  position:absolute;
    -webkit-transform:translate3d(0,0,0) ;
}

[ui-view].ng-leave {
   position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(0,0,0);
}

[ui-view].ng-leave-active {
   position:absolute;
    -webkit-transform:translate3d(-100%,0,0);
}