<div class="row no-gutter">

<div class="col-sm-12">

	<div class="panel panel-default">

	<div class="panel-body">

		<div class="row" style="margin-bottom:15px;">

			<div class="col-xs-6" style="text-align: center">
				<a href="http://www.ics.ug/en" target="_blank"><img src="images/icsug.png" style="height:150px;" /></a>
			</div>
			<div class="col-xs-6" style="text-align: center; margin-top:30px">
				<a href="http://engage.ug" target="_blank"><img src="images/engage.png" style="height:70px;" /></a>
			</div>

		</div>

		<p>{{greeting}}</p>
		<p>This is the demo app for my session's in March 2015 at the ICS User Group event in Bremen and Engage in Ghent. The session is similar to the session I did with Mark Roden at <b><a href="http://www-01.ibm.com/software/collaboration/events/connected/" target="_blank">ConnectED 2015</a></b> in January in Orlando: <b>"The Future of Web Development - Write Once, Run Everywhere with AngularJS and Domino"</b>. The demo app is build using AngularJS and uses an IBM Domino backend.</p>

		<p>In the session I'm going to talk about building web apps using the AngularJS JavaScript framework, with data coming from a Domino backend using REST. I'll show you how an app built like this can run in multiple runtimes, like Domino, Bluemix, Connections, Microsoft Sharepoint and MobileFirst Foundation (previously Worklight).</p>
		
		<p>If you haven't registered for the or ConnectED yet, do that now for the <a href="http://www.ics.ug/en" target="_blank">ICS User Group</a> or <a href="http://engage.ug" target="_blank">Engage</a> and hopefully I'll see you there. It'll be worth it!
		</p>

		<div class="row" style="margin-top:15px">
			
			<div class="col-xs-6 text-center">
				<a href="http://linqed.eu" target="_blank">
					<img width="90" height="90" src="images/mark.jpg" alt="That's what Mark looks like" class="img-circle img-rounded" /><br />
					Mark Leusink
				</a>
			</div>
		</div>

		<div class="small well well-sm" style="margin-top:10px">

			<img src="images/beer.jpeg" class="img-rounded pull-right" width="80" style="margin-left:10px;" />

			<p>Here comes the fine print...</p>
			
			<p>
				We did our best. Worked very, very hard (that's relative of course). But take absolutely no liability for the accurateness of the data in this app. Or if the app will work at all. It probably will. We hope (if it doesn't: please <a ui-sref="feedback" title="Feedback">let us know</a>).
			</p>		
			<p>
				Oh, and if you want to know more about how this app was built: talk to me if you see me walking around. That's what a conference is all about (you seriously thought it was the sessions?). I am not scary and will talk for a <i class="fa fa-beer"></i> beer <i class="fa fa-smile-o"></i>
			</p>
			<p>
				This source code of this app is publicly available on <a href="https://github.com/markleusink/BeyondSessionsApp" target="_blank"><i class="fa fa-github"></i>GitHub</a>.
		</div>

	</div>

	</div>

</div>

</div>