<div class="row no-gutter">

<div class="col-sm-12">

	<div class="panel panel-default">

	<div class="panel-body">

		<div style="margin-bottom:15px">
			<img class="img-responsive" src="images/connected.png" />
		</div>

		<p>Hi!</p>
		<p>This is the demo app for our session at <b>ConnectED 2015</b> in January in Orlando. It's build using AngularJS and uses a Domino backend.</p>
		<p>In the session we're going to talk about building web apps using the AngularJS JavaScript framework, combined with a Domino backend. We will show you how an app built like this can run in multiple runtimes, like Domino, Bluemix, Connections and Worklight.</p>
		<p>Hopefully we'll see you there. It'll be worth it!</p>

		<div class="row">
			<div class="col-xs-6">
				<a href="http://xomino.com"  target="_blank">
					<img src="http://1.gravatar.com/avatar/3857e0587f63bb943797213753361d37" class="img-circle img-rounded" /><br />
					Mark Roden
				</a>
			</div>
			<div class="col-xs-6">
				<a href="http://linqed.eu" target="_blank">
					<img src="http://www.gravatar.com/avatar/80b0217f17f01b662fe26275fd625584.png" class="img-circle img-rounded" /><br />
					Mark Leusink
				</a>
			</div>
		</div>

	</div>

	</div>

</div>

</div>