<!doctype html>

<html ng-app="beyondApp">

	<head>
		<title>Beyond The Everday - Angular demos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- some basic styling -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	
		<!-- load Angular -->
		<script src="/bower_components/angular/angular.min.js"></script>

		<script>

			var app = angular.module('beyondApp', []);

			app.controller('SessionsCtrl', function($scope) {

				$scope.user = 'Mark';

				$scope.sessions = [
					{ 'title' : 'What\'s new in IBM Notes/Domino 2015'},
					{ 'title' : 'Take Back Control of Your Workday! How to use IBM Verse'},
					{ 'title' : 'The Future of Web Development - Write Once, Run Everywhere with AngularJS and Domino'},
					{ 'title' : 'Take Back Control of Your Workday! How to use IBM Verse.'},
					{ 'title' : 'Improve Communication & Collaboration'}
				];

			});

		</script>

	</head>

	<body style="padding-top:20px" ng-controller="SessionsCtrl">

		<div class="container">

			<table class="table table-striped"><tbody>

				<tr ng-repeat="session in sessions">

					<td style="width:50%">
						{{session.title}}
					</td>

					<td style="width:50%">
						<input class="form-control" type="text" ng-model="session.title" />
					</td>
				
				</tr>

			</tbody></table>

		</div>

	</body>
</html>