<!doctype html>

<html ng-app="beyondApp">

	<head>
		<title>Beyond The Everday - Angular demos</title>

		<!-- some basic styling -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	
		<!-- load Angular -->
		<script src="/bower_components/angular/angular.min.js"></script>

		<script>

			var app = angular.module('beyondApp', []);

			app.controller('SessionsCtrl', function($scope) {

				$scope.user = 'Mark';
				$scope.showIt = true;

				$scope.toggleWell = function() {
					$scope.showIt = !$scope.showIt;
				};

			});

		</script>

	</head>

	<body style="padding-top:20px" ng-controller="SessionsCtrl">

		<div class="container">

			Hi {{user}}

			<div style="padding:10px">
				<button ng-click="toggleWell()">Toggle the well</button>
			</div>

			<div class="well" ng-if="showIt">
				Content in a well
			</div>

		</div>

	</body>
</html>